.container {
  width: 100%;
  height: 100%;
}

.informations {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
}

.card {
  border-radius: 10px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  width: 30%;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s ease;
  box-shadow: #5878aa49 1px 1px 30px;
  overflow: hidden;

}

.card:hover {
  box-shadow: #37d7ff49 1px 1px 30px;
  width: 35%;
  transition: 1s ease;
}

.card:hover img {
  transition: 1s ease;
  width: 9em;

}

.card img {
  transition: 1s ease;
  width: 8em;

}

.card p {
  color: #5878aa;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.card p span {
  font-weight: bold;
  font-size: 3em;
}
